@model IEnumerable<TadaNomina.Models.DB.v_Tesoreria_Solicitud>

@{
    ViewBag.Title = "SRechazadas";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Solicitud de Dispersión Rechazada</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div class="col-md-12">
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Costeos Disponibles.</h3>
            </div>
            <div class="panel-body">


                @Html.ActionLink("Regresar", "Index", "SolicitudDispersion", null, new { @class = "btn btn-info btn-sm" })
                <br /><br /><br />

                @if (Model.Count() > 0)
                {
                    <table id="demo-dt-selection" class="table table-hover table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th width="20%">Descripción</th>
                                <th width="5%">Tipo</th>
                                <th width="7%">SubTotal</th>
                                <th width="7%">IVA</th>
                                <th width="7%">Total Costeo</th>
                                <th width="7%">Total Factura</th>
                                <th width="12%">Estatus</th>
                                <th width="2%">Costeo</th>
                                <th width="2%">Reenviar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>

                                <td>@item.Periodo</td>
                                <td>@item.TipoEsquema</td>
                                <td>$@item.Subtotal</td>
                                <td>$@item.IVA</td>
                                <td>$@item.Total</td>
                                <td>$@item.NTotal</td>
                                <td>@item.EstatusTesoreria</td>
                                <td><a href="~/SolicitudDispersion/VerCosteoRechazado?_ID=@TadaNomina.Models.ClassCore.Statics.Encriptar(item.IdFacturasContabilidad.ToString())&_PA=@TadaNomina.Models.ClassCore.Statics.Encriptar("1")" class="btn btn-sm btn-success load"><i class="glyphicon glyphicon-list-alt"></i></a></td>
                                <td><a href="@Url.Action("Solicitud","SolicitudDispersion", new { _ID = TadaNomina.Models.ClassCore.Statics.Encriptar(item.IdFacturasContabilidad.ToString()), _Desc = TadaNomina.Models.ClassCore.Statics.Encriptar(item.Periodo) })" class="btn btn-sm btn-warning load"><i class="glyphicon glyphicon-share-alt"></i></a></td>


                            </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        No hay Costeos  .
                    </div>
                }

            </div>
        </div>
    </div>
</div>
