@model IEnumerable<TadaNomina.Models.DB.Cat_SindicatoCliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Sindicatos</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Sindicatos Disponibles</h3>
        </div>

        <div class="panel-body">
            @Html.ActionLink(" Crear Nuevo Sindicato", "Create", null, new { @class = "btn btn-info btn-sm" })
            <button class="btn btn-mint btn-sm" id="descarga">Descargar</button>
            <br />
            <br />
            <table id="demo-dt-selection" class="table table-striped table-hover" cellpadding="0" , width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.idCatSindicatoCliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sindicato)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CuotaSindical)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaCaptura)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.idCatSindicatoCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sindicato)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CuotaSindical)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCaptura)
                            </td>
                            <td>
                                @Html.ActionLink("  ", "Edit", new { id = item.idCatSindicatoCliente }, new { @class = "btn btn-default btn-sm fa fa-edit", @rel = "tooltip", @tittle = "Editar" }) |
                                <a href="#" class="anchorDetail" data-id="@item.idCatSindicatoCliente" rel="tooltip" , title="Detalle"><span class="btn btn-default btn-sm fa fa-search"></span></a> |
                                <a href="#" class="anchorDelete" data-id="@item.idCatSindicatoCliente" rel="tooltip" , title="Eliminar"><span class="btn btn-default btn-sm fa fa-remove"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Core/SindicatosClientes.js"></script>

}
