@model TadaNomina.Models.ViewModels.Catalogos.ModelPrestaciones

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
    <h4 class="modal-title">Eliminar Prestacion</h4>
</div>

<div class="panel-body">

    <label> Esta seguro que desea eliminar la siguiente Prestación?</label>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdCliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdCliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prestacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prestacion)
            </dd>

        </dl>

    </div>
    <div class="modal-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=> x.IdPrestacion)

            <div class="form-actions no-color">
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
                <input type="submit" value="Eliminar" class="btn btn-danger" />                 
            </div>
        }
    </div>
</div>

