@model TadaNomina.Models.ViewModels.Catalogos.ModelFactorIntegracion

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
    <h4 class="modal-title">Eliminar Prestación</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <label> Esta seguro que desea eliminar la siguiente Prestación?</label>
        <br />
        <dl class="dl-horizontal">
            @Html.HiddenFor(x => x.IdPrestaciones)
            <dt>
                @Html.DisplayNameFor(model => model.Limite_Inferior)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Limite_Inferior)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Limite_Superior)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Limite_Superior)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Aguinaldo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aguinaldo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vacaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vacaciones)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimaVacacional)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimaVacacional)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimaVacacionalSDI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimaVacacionalSDI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FactorIntegracion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FactorIntegracion)
            </dd>

        </dl>


        <div class="modal-footer">
            <div class="form-actions no-color">
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        </div>
    }
</div>