@model IEnumerable<TadaNomina.Models.ViewModels.Nominas.ModelIncidenciasProgramadas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Incidencias Programadas</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Incidencias Configuradas.</h3>
        </div>
        <div class="panel-body">
            <br />
            @Html.ActionLink(" Nueva", "Create", null, new { @class = "btn btn-primary btn-sm _Load" })
            <br /><br />
            @if (Model.Count() > 0)
            {

                <table id="demo-dt-selection" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NoEmp)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CveConcepto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Concepto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Monto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MontoEsq)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Activo)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.NoEmp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CveConcepto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Concepto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Monto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MontoEsq)
                                </td>
                                @if (item.Activo)
                                {
                                    <td>
                                        <label class="label label-success">Activo</label>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <label class="label label-danger">Inactivo</label>
                                    </td>
                                }

                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.IdIncidenciaProgramada }, new { @class = "btn btn-primary btn-sm fa fa-edit _Load", @rel = "tooltip", @title = "Editar" }) |
                                    <a href="#" class="anchorDetail" data-id="@item.IdIncidenciaProgramada" rel="tooltip" , title="Detalle"><span class="btn btn-primary btn-sm fa fa-search"></span></a> |
                                    <a href="#" class="anchorDelete" data-id="@item.IdIncidenciaProgramada" rel="tooltip" , title="Eliminar"><span class="btn btn-primary btn-sm fa fa-remove"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    No hay incidencias programadas.
                </div>
            }

        </div>
    </div>
</div>


<div id="dvjson"></div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var TeamDetailPostBackURL = "@Url.Action("Details", "IncidenciasProgramadas")";
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            var href = $(this).attr('href');
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

    var TeamDetailPostBackURLDelete = "@Url.Action("Delete", "IncidenciasProgramadas")";
    $(function () {
        $(".anchorDelete").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURLDelete,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

    function generaReporte(IdPeriodo) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Descargar")',
            data: { "Id": IdPeriodo },
            dataType: 'json',
            success: function (data) {

                var d = JSON.parse(data);
                console.log(d)

                $("#dvjson").excelexportjs({
                    containerid: "dvjson",
                    datatype: 'json',
                    dataset: d,
                    columns: getColumns(d),
                    worksheetName: "Incindencias"
                });
            }
        });
    }


</script>

