@model IEnumerable<TadaNomina.Models.DB.vUnidadesNegocio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Unidades de Negocio</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>


<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Unidades Disponibles</h3>
        </div>

        <div class="panel-body">
            <a href="@Url.Action("Create")" class="btn btn-info btn-sm _Load"><span class="fa fa-plus"></span> Crear Nueva Unidad de Negocio</a>           
            <br />
            <br />
            <table id="demo-dt-selection" class="table table-striped table-hover table-sm" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Unidad
                        </th>

                        <th>
                            Tipo Nómina
                        </th>
                      
                        <th>
                            Conf. Sueldos
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnidadNegocio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoNomina)
                            </td>
                           
                              <td>
                                @Html.DisplayFor(modelItem => item.ConfiguracionSueldos)
                            </td>
                              <td>                                  
                                  <a href="@Url.Action("Edit", new { id = item.IdUnidadNegocio })" class="add-tooltip" data-id="@item.IdUnidadNegocio" title="Editar"><span class="btn btn-default btn-sm fa fa-edit"></span></a> |

                                  <a href="#" class="anchorDetail add-tooltip" data-id="@item.IdUnidadNegocio" title="Detalle"><span class="btn btn-default btn-sm fa fa-search"></span></a> |
                                  <a href="#" class="anchorDelete add-tooltip" data-id="@item.IdUnidadNegocio" title="Eliminar"><span class="btn btn-danger btn-sm fa fa-trash"></span></a> |
                                  <a href="@Url.Action("Config", new { id = item.IdUnidadNegocio })" class="add-tooltip" data-id="@item.IdUnidadNegocio" title="Configurar"><span class="btn btn-dark btn-sm fa fa-gear"></span></a> 
                                  
                              </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>



<script type="text/javascript">

    var TeamDetailPostBackURL = "@Url.Action("Details", "UnidadesNegocio")";
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                var href = $(this).attr('href');
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

   var TeamDetailPostBackURLDelete = "@Url.Action("Delete", "UnidadesNegocio")";
        $(function () {
            $(".anchorDelete").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURLDelete,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
         });

</script>



