@model TadaNomina.Models.ViewModels.Contabilidad.ModelCuentas

@{
    ViewBag.Title = "VerSubCuentas";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}


<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Catálogo de Cuentas</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">
                <strong>Sub Cuentas: </strong> @Model._Descripcion
            </h2>

            <br /><br />

        </div>
        <div class="panel-body">
            <div class="text-right">

                <a href="@Url.Action("newSubCuenta", "CatalogoCuentas", new { Model.IdCuenta, Model.Nivel, Model._Descripcion  })" class="btn btn-primary _Load"><span class="fa fa-plus"></span> Agregar Subcuenta</a>
            </div>
            <br /><br />
            @if (Model.cuentas.Count() > 0)
            {
                <form class="form-inline">
                    <table id="CC" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th hidden>IdCuenta</th>
                                <th>Clave</th>
                                <th>Descripción</th>
                                <th>T. Cuenta</th>
                                <th>T. Nom.</th>
                                <th>Ver Subsubcuentas</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.cuentas)
                            {
                                <tr>
                                    <td hidden>@item.idCuenta</td>
                                    <td> @item.clave</td>
                                    <td> @item.descripcion</td>
                                    <td>@item.TipoCuenta</td>
                                    <td>@item.TipoNomina</td>
                                    <td align="center"><a href="@Url.Action("VerSubCuentas", new { item.idCuenta, item.Nivel, _Descripcion = item.descripcion })" class="btn btn-sm btn-primary load"><i class="glyphicon glyphicon-arrow-right"></a></td>
                                    <td align="center"><button class='btn btn-sm btn-danger' type="button" onclick="eliminar(@item.idCuenta, @Model.IdCuenta, @Model.Nivel, '@Model._Descripcion')" data-toggle="modal" data-target="#ModalEliminar"><i class='glyphicon glyphicon-trash'></i></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            }
            else
            {

                <div><p><br /><br /><br /></p></div>
                <div class="alert alert-info"><span class="fa fa-info"></span> No hay subcuentas registradas por el momento</div>

            }
            <div class="panel-footer text-right">

                <a class="btn btn-danger" href="@Url.Action("Index")">Regresar</a>


            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("deleteCuenta", "CatalogoCuentas", FormMethod.Post))
{
    <!-- Modal-->
    <input type="hidden" id="_id" name="_id" />
    <input type="hidden" id="IdCuenta_" name="IdCuenta_" />
    <input type="hidden" id="Nivel_" name="Nivel_" />
    <input type="hidden" id="_Descripcion_" name="_Descripcion_" />
    <div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
                    <hr />
                </div>
                <div>
                    <div class="modal-body">
                        <i class="btn btn-sm btn-danger demo-pli-close"></i>&nbsp; ¿Está seguro que desea eliminar el registro?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/Core/cuentasContables.js"></script>
}