@model IEnumerable<TadaNomina.Models.DB.v_Tesoreria_SolicitudCheque>

@{
    ViewBag.Title = "GetFinalizados";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Solicitar Cheques</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div class="col-md-12">
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Solicitudes de cheques.</h3>
            </div>
            <div class="panel-body">
                <br />
                <div class="row">
                    &nbsp;&nbsp;
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info btn-sm" })
                </div>
                <br />
                @if (Model.Count() > 0)
                {
            <table class="table table-hover table-sm">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Periodo)
                    </th>
                    <th>
                        Archivo
                    </th>
                    <th>
                        C. Tesorería
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCaptura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsuarioCaptura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estatus)
                    </th>
                    <th>
                        Descargar
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Periodo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rutaArchivo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObservacionesTesoreria)
                        </td>
                        <td>
                            @(((DateTime)item.FechaCaptura).ToShortDateString())
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioCaptura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estatus)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Descargar", new { item.IdSolicitudCheque }, new { @class = "btn btn-mint btn-sm fa fa-download" })

                        </td>
                    </tr>
                }

            </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <span class="fa fa-info-circle">
                            Aun no hay solicitudes de cheques finalizadas.
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>