@model IEnumerable<TadaNomina.Models.DB.v_Tesoreria_SolicitudCheque>

@{
    ViewBag.Title = "GetRechazados";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Solicitar Cheques</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div class="col-md-12">
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Solicitudes de cheques.</h3>
            </div>
            <div class="panel-body">
                <br />
                <div class="row">
                    &nbsp;&nbsp;
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info btn-sm" })
                </div>
                <br />
                @if (Model.Count() > 0)
                {
            <table class="table table-hover table-sm">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Periodo)
                    </th>
                    <th>
                        Archivo
                    </th>
                    <th>
                        C. Tesorería
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCaptura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsuarioCaptura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estatus)
                    </th>
                    <th>
                        Motivo
                    </th>
                    <th>
                        Descargar
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Periodo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rutaArchivo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObservacionesTesoreria)
                        </td>
                        <td>
                            @(((DateTime)item.FechaCaptura).ToShortDateString())
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioCaptura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estatus)
                        </td>
                        <td>
                                    <a href="#" class="btn btn-default btn-sm _Observaciones" val="@item.ObservacionesTesoreria"><span class="fa fa-list"></span></a>
                                </td>
                        <td>
                            @Html.ActionLink(" ", "Descargar", new { item.IdSolicitudCheque }, new { @class = "btn btn-mint btn-sm fa fa-download" })

                        </td>
                    </tr>
                }

            </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <span class="fa fa-info-circle">
                            Aun no hay solicitudes de cheques rechazadas.
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="myModalObservaciones" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Comentarios</h4>
            </div>
            <div class="modal-body">

                <label class="text-bold" id="_Comentarios"></label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

        $("._Observaciones").click(function () {
            $("#_Comentarios").text($(this).attr('val'));
            $("#myModalObservaciones").modal("show");
        });

 </script>      
