@model TadaNomina.Models.ViewModels.Nominas.ModelFonacot


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
    <h4 class="modal-title">Detalle de Crédito</h4>
</div>

<div class="modal-body">

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.ClaveEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveEmp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plazos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuotasPagadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuotasPagadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetencionMensual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetencionMensual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    <div class="modal-footer">
        <div class="form-actions no-color">
            <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">Cerrar</button>

        </div>
    </div>
</div>

