@model IEnumerable<TadaNomina.Models.ViewModels.Nominas.ModelFonacot>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}


<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Créditos Fonacot</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h3 class="panel-title">
                Créditos Fonacot activos
            </h3>
        </div>
        <div class="panel-body">
            @Html.ActionLink(" Crear Nuevo", "Create", null, new { @class = "btn btn-info btn-sm _Load" })
            @Html.ActionLink("Carga Layout", "CreateLayout", null, new { @class = "btn btn-dark btn-sm _Load" })

            <button type="button" class="btn btn-info btn-sm" onclick="ModalDesactivarCreditos(1)">Activa créditos</button>
            <button type="button" class="btn btn-danger btn-sm" onclick="ModalDesactivarCreditos(2)">Desactiva créditos</button>
            <br /><br />

            <table id="demo-dt-selection" class="table table-striped table-hover table-sm" width="100%">
                <thead>
                    <tr>
                        <th>
                            Activo
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClaveEmp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NombrePatrona)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreEmpleado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumeroCredito)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoTrabajadorFonacot)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RetencionMensual)
                        </th>



                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="col-md-4">
                                    <div class="box-inline mar-rgt">
                                        @if (item.Activo == false)
                                        {
                                            <input id="demo-panel-w-switch-@item.IdCreditoFonacot" class="toggle-switch" type="checkbox" onclick="CambiaStatus(@item.IdCreditoFonacot)">
                                            <label for="demo-panel-w-switch-@item.IdCreditoFonacot"></label>
                                        }
                                        else
                                        {
                                            <input id="demo-panel-w-switch-@item.IdCreditoFonacot" class="toggle-switch" type="checkbox" checked onclick="CambiaStatus(@item.IdCreditoFonacot)">
                                            <label for="demo-panel-w-switch-@item.IdCreditoFonacot"></label>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaveEmp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombrePatrona)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroCredito)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoTrabajadorFonacot)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RetencionMensual)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.IdCreditoFonacot }, new { @class = "btn btn-primary btn-sm fa fa-edit" }) |
                                <a href="#" class="anchorDetail" data-id="@item.IdCreditoFonacot" rel="tooltip" , title="Detalle"><span class="btn btn-primary btn-sm fa fa-search"></span></a> |
                                <a href="#" class="anchorDelete" data-id="@item.IdCreditoFonacot" rel="tooltip" , title="Eliminar"><span class="btn btn-primary btn-sm fa fa-window-close"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modDesactivaCreditos" tabindex="-1" role="dialog" aria-labelledby="MovementModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal"></h5>
            </div>
            <hr />
            <div class="modal-body">
                <label id="EtiquetaModal"></label>
                <input id="TipoMovimiento" type="hidden"/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary _Load" type="button" onclick="MovimientoCreditos()">Aceptar</button>
                <button class="btn btn-danger" type="button" onclick="CierraModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Core/mensajes.js"></script>
    <script src="~/js/Core/default.js"></script>
    <script src="~/js/Core/CreditosFonacot.js"></script>
}
