@model TadaNomina.Models.ViewModels.Nominas.ModelIncidencias

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
    <h4 class="modal-title">Detalle Incidencia</h4>
</div>

<div class="modal-body">
    <div>        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdEmpleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClaveEmpleado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClaveEmpleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreEmpleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdPeriodoNomina)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdPeriodoNomina)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PeriodoNomina)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PeriodoNomina)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdConcepto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdConcepto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClaveConcepto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClaveConcepto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Concepto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Concepto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Monto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Monto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Exento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Exento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gravado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gravado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MontoEsquema)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MontoEsquema)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExentoEsquema)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExentoEsquema)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GravadoEsquema)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GravadoEsquema)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaIncio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaIncio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaFinal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Folio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Folio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>


        </dl>
    </div>
</div>
    <div class="modal-footer">
        <div class="form-actions no-color">
            <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">Cerrar</button>
        </div>
    </div>


