@model IEnumerable<TadaNomina.Models.DB.vCosteos_Fondeos>

@{
    ViewBag.Title = "FondeosFijos";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow"> Fondeos</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Fondeos Activos
            </h3>
        </div>
        <div class="panel-body">

            <p>
                @Html.ActionLink("Nuevo Fondeo", "CreateFondeo", null, new { @class = "btn btn-primary btn-sm _Load" })
                @Html.ActionLink("Fondeos Periodo", "FondeosPeriodo", null, new { @class = "btn btn-mint btn-sm _Load" })
            </p>
            <br />
            @if (Model.Count() > 0)
            {
                <table id="demo-dt-selection" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                Costeo
                            </th>
                            <th>
                                Separado Pat.
                            </th>
                            <th>
                                Dividido Por
                            </th>
                            <th>
                               Descripción
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Importe)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Expr1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DividirPatronal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeparadoPor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Importe)
                                </td>
                                <td>
                                    @*@Html.ActionLink(" ", "Edit", new { id = item.IdOtroConcepto }, new { @class = "btn btn-primary btn-sm fa fa-edit" }) |
                                    <a href="#" class="anchorDetail" data-id="@item.IdOtroConcepto" rel="tooltip" , title="Detalle"><span class="btn btn-primary btn-sm fa fa-search"></span></a> |*@
                                    <a href="#" class="anchorDelete" data-id="@item.IdOtroConcepto" rel="tooltip" , title="Eliminar"><span class="btn btn-primary btn-sm fa fa-remove"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info"><span class="fa fa-info"></span> No se han agregado conceptos aún.</div>
            }
        </div>
    </div>
</div>

<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script>
       

        var TeamDetailPostBackURLDelete = "@Url.Action("DeleteFijo", "Fondeos")";
        $(function () {
            $(".anchorDelete").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURLDelete,
                    contentType: "application/json; charset=utf-8",
                    data: { id },
                    datatype: "json",
                    success: function (data) {

                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
</script>

