@model IEnumerable<TadaNomina.Models.ViewModels.Nominas.ModelPeriodoNomina>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Nomina</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>


<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Periodos de Nomina disponibles</h3>
        </div>

        <div class="panel-body">
            @if (Model.Count() > 0)
            { 
                <table class="table table-striped table-hover table-responsive table-sm" cellpadding="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Periodo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaFin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoNomina)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Periodo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaFin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoNomina)
                                </td>

                                <td>
                                    @{
                                        if (item.TipoNomina == "Honorarios")
                                        {
                                            string actions = string.Empty;
                                            
                                            <a href="@Url.Action("index", "Honorarios", new { pIdPeriodoNomina = item.IdPeriodoNomina })" class="btn btn-primary btn-sm _Load"><span class="fa fa-check-circle"></span> Seleccionar</a>


                                        }
                                        else
                                        {
                                            string action = string.Empty;
                                            if (item.TipoNomina == "Finiquitos")
                                            {
                                                action = "ProcesaFiniquitos";
                                            }
                                            else
                                            {
                                                action = "ProcesaNominaGeneral";
                                            }

                                            
                                            <a href="@Url.Action(action, new { pIdPeriodoNomina = item.IdPeriodoNomina })" class="btn btn-primary btn-sm _Load"><span class="fa fa-check-circle"></span> Seleccionar</a>
                                        }


                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        No hay periodos disponibles para procesar, Por favor cree un periodo!.
                    </div>                   
                }
        </div>
    </div>
</div>
