
@model TadaNomina.Models.ViewModels.Nominas.ModelBasePensionAlimenticia

<div class="modal-header">

    <h4 class="modal-title">Eliminar Formula</h4>
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
</div>

<div class="modal-body">

    <h3>Esta seguro que desea eliminar la siguinete Pensión?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">



            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Formula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Formula)
            </dd>

            

            <dt>
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaCaptura)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaCaptura)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.IdBasePensionAlimenticia)
            <div class="modal-footer">
                <div class="form-actions no-color">
                    <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">Cancelar</button>
                    <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
                </div>
            </div>
        }
    </div>
</div>
