@model TadaNomina.Models.ViewModels.Nominas.ModelPensionAlimenticia

<div class="modal-header">

    <h4 class="modal-title">Detalle de la Pensión</h4>
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
</div>

<div class="modal-body">


    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.ClaveEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveEmp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorEsq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorEsq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCaptura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCaptura)
        </dd>


    </dl>

    <div class="modal-footer">
        <div class="form-actions no-color">
            <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">Cerrar</button>

        </div>
    </div>
</div>


