@model TadaNomina.Models.ViewModels.Nominas.ModelBasePensionAlimenticia
@{
    ViewBag.Title = "EditBase";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}


<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Base Pensiones Alimenticias</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div class="col-md-12">
    <div id="page-content">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h3 class="panel-title">Caputar Datos.</h3>
            </div>
            <div class="panel-body">
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(x => x.IdBasePensionAlimenticia);

                    <div class="form-group row m-b-15">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2 text-right" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Conceptos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Conceptos, Model.LTipoNomina, "Elegir...", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Conceptos, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <br />
                    <div class="form-group row m-b-15">


                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2 text-right" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row m-b-15">
                        @Html.LabelFor(model => model.Formula, htmlAttributes: new { @class = "control-label col-md-2 text-right" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Formula, new { @class = "form-control", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Formula, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <span class="fa fa-info-circle fa-2x" id="infoEquivalencias"></span>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="form-group">
                        <div class="text-right">
                            <input type="submit" value="Editar" class="btn btn-primary btn-sm" />
                            @Html.ActionLink("Regresar", "BaseAlimenticia", null, new { @class = "btn btn-info btn-sm _Back" })
                        </div>
                    </div>

                }

                <div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Formular conceptos.</h4>
            </div>
            <div class="modal-body">
                <p><strong>Palabras Resrvadas:</strong></p>
                <div id="tablaEquiv"></div>
                <hr />
                <p><strong>Como se usa:</strong></p>
                <p>Se pude agregar una formula utilizando la palabra <strong>CALCULO</strong> seguida de 2 puntos (<strong>:</strong>) y posteriormente la formula, ejemplo... </p>
                <p><strong>CALCULO:DT*SD/0.25</strong></p>
                <p>Tambien se pude especificar si se requiere omitir a uno o varios empleados con la palabra <strong>EXCEPTO</strong> seguida de 2 puntos (<strong>:</strong>) y posteriormente las claves de los empleados a omitir separadas por coma(,), ejemplo... </p>
                <p><strong>EXCEPTO:001, 002, 003</strong></p>
                <p>Tambien se pude especificar si se requiere omitir a uno o varios empleados con la palabra <strong>SOLO</strong> seguida de 2 puntos (<strong>:</strong>) y posteriormente las claves de los empleados a los que se les calculara separadas por coma(,), ejemplo... </p>
                <p><strong>SOLO:001, 002, 003</strong></p>
                <p>Para poder hacer uso del <strong>CALCULO</strong> en combianción con <strong>EXCEPTO</strong> o <strong>SOLO</strong> se debe utilizar punto y coma (<strong>;</strong>)</p>
                <p>Asi quedaria para pagar a todos <strong>EXCEPTO</strong> a ciertos empleados</p>
                <p><strong>CALCULO:DT*SD/0.25;EXCEPTO:001, 002, 003</strong></p>
                <p>ó</p>
                <strong>CALCULO:DT*SD/0.25;</strong><br />
                <strong>EXCEPTO:001, 002, 003</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/js/Core/mensajes.js"></script>
    <script>
        $("#infoEquivalencias").click(function () {
            $.ajax({
                type: 'POST',
                url: 'getPalabrasReservadas',
                success: function (result) {
                    var table = "<div class='text-right'>";
                    table += "</div><br />";
                    table += "<table class='table table-hover table-sm'>";
                    table += "<tr style='background-color:#CCCCCC'><th>Clave</th><th>Descripcion</th></tr>";

                    for (var i = 0; i < result.length; i++) {
                        var cve = result[i].ClaveEmpleado;
                        var cls = "";
                        if (result[i].Estatus == "ACTIVO") { cls = "success" } else { cls = "danger" }
                        table += "<tr>";
                        table += "<td>" + result[i].Clave + "</<td>";
                        table += "<td>" + result[i].Descripcion + "</td>";

                        table += "</tr>"
                    }

                    table += "</table>";

                    $("#tablaEquiv").html(table);
                }
            });
            $("#modalInfo").modal('show');
        });
    </script>
}


