@model IEnumerable<TadaNomina.Models.ViewModels.Nominas.ModelPensionAlimenticia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Pensiones Alimenticias</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h3 class="panel-title">
                Pensiones Activas
            </h3>

        </div>
        <div class="panel-body">
            @Html.ActionLink(" Crear Nuevo", "Create", null, new { @class = "btn btn-info btn-sm _Load" })
            <br /><br />

            <table id="demo-dt-selection" class="table table-striped table-hover table-sm" width="100%">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.ClaveEmp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Empleado)
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Valor)
                        </th>
                        <th>
                            Esquema
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreBeneficiario)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.ClaveEmp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Empleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoPension)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValorEsq)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreBeneficiario)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.IdPensionAlimenticia }, new { @class = "btn btn-primary btn-sm fa fa-edit" }) |
                                <a href="#" class="anchorDetail" data-id="@item.IdPensionAlimenticia" rel="tooltip" , title="Detalle"><span class="btn btn-primary btn-sm fa fa-search"></span></a> |
                                <a href="#" class="anchorDelete" data-id="@item.IdPensionAlimenticia" rel="tooltip" , title="Eliminar"><span class="btn btn-primary btn-sm fa fa-window-close"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    
    <script src="~/js/Core/pensionAlimenticia.js"></script>
}
