@model IEnumerable<TadaNomina.Models.ViewModels.Nominas.ModelAusentismos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Ausentismos</h1>
    </div>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Ausentismos Activos
            </h3>
        </div>
        <div class="panel-body">
            @Html.ActionLink(" Crear Nuevo", "Create", null, new { @class = "btn btn-info btn-sm _Load" })
            <br /><br />
            <table id="demo-dt-selection"  class="table table-hover table-sm">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.ClaveEmp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Empleado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ausentismo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.FechaInicial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaFinal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Folio)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.ClaveEmp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Empleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ausentismo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInicial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Folio)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.IdAusentismo }) |
                                @Html.ActionLink("Details", "Details", new { id = item.IdAusentismo }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.IdAusentismo })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
