@model TadaNomina.Models.ViewModels.Catalogos.ModelRegistroPatronal

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
    <h4 class="modal-title">Detalle Registro Patronal</h4>
</div>

<div class="modal-body">

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NombrePatrona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombrePatrona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistroPatronal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistroPatronal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiesgoTrabajo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RiesgoTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntidadFederativa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntidadFederativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdActividadEconomica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdActividadEconomica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelloDigital)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelloDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutaCer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RutaCer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutaKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RutaKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyPass)
        </dt>
        <dd>
            @if (Model.KeyPass != null && Model.KeyPass.Length > 0)
            {
                <b>*****</b>
            }            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

    </dl>
</div>

<p>
    <div class="modal-footer">
        <div class="form-actions no-color">
            <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">Cerrar</button>
        </div>
    </div>
</p>


