@model TadaNomina.Models.ViewModels.Nominas.ModelPeriodoNomina

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}


<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Nuevo Periodo</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Captura los datos del periodo.</h3>
            </div>

            <div class="panel-body">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Periodo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Periodo, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Periodo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoNomina, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TipoNomina, Model.LTipoNomina, "Elegir...", htmlAttributes: new { @class = "form-control", id = "TipoNomina" })
                        @Html.ValidationMessageFor(model => model.TipoNomina, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "calendar form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "calendar form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (Session["sRelojChecador"].ToString() == "SI")
                {
                    <div class="form-group" id="rc" hidden>
                        @Html.LabelFor(model => model.FechaInicioChecador, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FechaInicioChecador, new { htmlAttributes = new { @class = "calendar form-control required", @autocomplete = "off", id = "FechaInicioC" } })
                            @Html.ValidationMessageFor(model => model.FechaInicioChecador, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.FechaFinChecador, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FechaFinChecador, new { htmlAttributes = new { @class = "calendar form-control required", @autocomplete = "off", id = "FechaFinC" } })
                            @Html.ValidationMessageFor(model => model.FechaFinChecador, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.AjusteImpuestos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.AjusteImpuestos, Model.LAjuste, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AjusteImpuestos, "", new { @class = "text-danger" })
                    </div>
                    <div id="AjusteAnualc" style="display: none;">
                        @Html.LabelFor(model => model.AjusteAnual, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.AjusteAnual)
                        </div>

                    </div>

                    <div id="TablaDiaria_">
                        @Html.LabelFor(model => model.TablaIDiaria, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.TablaIDiaria)
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PeriodoAjuste, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.PeriodoAjuste, Model.LPAjuste, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PeriodoAjuste, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <input value="Limpiar" type="button" id="btnLimpiar" class="btn btn-default" rel="tooltip" title="Limpiar controles de ajuste." />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdsPeriodosAjuste, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.IdsPeriodosAjuste, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.IdsPeriodosAjuste, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.PeriodosAjuste, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PeriodosAjuste, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                        @Html.ValidationMessageFor(model => model.PeriodosAjuste, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" id="PtuRegP" style="display: none;">
                    @Html.LabelFor(model => model.IdRegistroPatronal_PTU, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.IdRegistroPatronal_PTU, Model.listRegistrosPatronalesCliente, "Elegir..", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdRegistroPatronal_PTU, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" id="tipocalculoPtu" style="display: none;">
                    <label class="control-label col-md-4">Calculo patrona <em>(Seleccione si el c&aacute;lculo es realizado por la empresa patrona.)</em></label>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.CalculoPatronaPtu)
                    </div>
                </div>
                <br />
                <div class="form-group" id="fechasPtu" style="display: none;">
                    @Html.LabelFor(model => model.Monto_PTU, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Monto_PTU, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Monto_PTU, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Año_PTU, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Año_PTU, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Año_PTU, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.OmitirDescuentosFijos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.OmitirDescuentosFijos)
                    </div>
                </div>
            </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            @if (Model.Mensaje != null)
                            {
                                if (Model.Validacion)
                                {
                                    <div class="alert alert-info">
                                        @Model.Mensaje
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger">
                                        @Model.Mensaje
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <br />
                    <div class="panel-footer">
                        <div class="form-group" style="text-align:right">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />
                            @Html.ActionLink("Regresar a lIsta", "Index", null, new { @class = "btn btn-info btn-sm _Back" })
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/PeriodoNomina/CreatePeriodo.js"></script>
}
