@model TadaNomina.Models.ViewModels.Catalogos.ModelConceptos

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
    <h4 class="modal-title">Detalle Concepto</h4>
</div>

<div class="modal-body">
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveGpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveGpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveConcepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveConcepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveSAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveSAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoConcepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoConcepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEsquema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEsquema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalculaMontos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalculaMontos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDEntre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDEntre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Integrable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Integrable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntegraSDI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntegraSDI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadExenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadExenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadExenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadExenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeGravado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeGravado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IntegraPension)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IntegraPension)
        </dd>

    </dl>
</div>
<p>
    <div class="modal-footer">
        <div class="form-actions no-color">
            <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
        </div>
    </div>
</p>
