@model List<TadaNomina.Models.ViewModels.Nominas.ModelMovimientosImss>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
    string mensaje = ViewBag.Mensaje;
}

<div id="page-head">
    @if (mensaje != null)
    {
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">
                <i class="pci-cross pci-circle"></i>
            </button>
            <strong>Error:</strong>
            @mensaje
        </div>
    }
    <div id="page-title">
        <h1 class="page-header text-overflow">Envío de Movimientos</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

@using (Html.BeginForm("Index", "EnvioMovimientos", FormMethod.Post))
{

    <div class="panel">
        <div class="panel-body">
            @if (Model.Count > 0)
            {
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Listado de colaboradores por enviar
                    </h4>
                </div>
                <hr />
                <table id="demo-dt-selection" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Identificador colaborador</th>
                            <th>Nombre del colaborador</th>
                            <th>IMSS</th>
                            <th>RFC</th>
                            <th>Puesto</th>
                            <th>SD</th>
                            <th>SDI</th>
                            <th>Nombre patrona</th>
                            <th>Registro patronal</th>
                            <th>Tipo movimiento</th>
                            <th>Fecha aplicaci&oacute;n</th>
                            <th>Motivo baja</th>
                            <th>Aplica</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => Model[i].IdentificadorEmpleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].NombreEmpleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].Imss)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].Rfc)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].Puesto)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].SD)
                                </td>

                                <td>
                                    @Html.DisplayFor(m => Model[i].SDI)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].NombrePatrona)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].RegistroPatronal)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].TipoMovimiento)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model[i].FechaAplicacionIMSS)
                                </td>
                                @if (Model[i].MotivoBaja.Length == 1)
                                {
                                    <td>@Model[i].MotivoBaja</td>
                                }
                                else
                                {
                                    <td>NA</td>
                                }=
                                <td>

                                    @Html.CheckBoxFor(m => Model[i].Seleccionado, htmlAttributes: new { @class = "tabla-checkbox", @data_id_empleado = Model[i].IdEmpleado })
                                </td>

                            </tr>


                        }

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-footer text-right">
                            <button class="btn btn-primary _Load" id="id_enviar" type="button">
                                Enviar
                            </button>

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="cls-container" style="background-color:white">
                    <div class="cls-content">
                        <h1 class="error-code text-muted">
                            <i class="fa ti-face-smile"></i>
                        </h1>
                        <p class="h4 text-uppercase text-bold">No tiene movimientos por enviar</p>
                    </div>
                </div>
            }
        </div>
    </div>

}



@section scripts{
    <script>

        var idsEmpleadoarrays = [];


        $(document).ready(function () {

            $(".tabla-checkbox").on("change", function (e) {
                var idempleado = $(e.target).attr("data-id-empleado");
                if ($(e.target).is(":checked")) {
                    idsEmpleadoarrays.push(idempleado);
                }
                else {
                    var indice = idsEmpleadoarrays.indexOf(idempleado);
                    if (indice > -1) {
                        idsEmpleadoarrays.splice(indice, 1);
                    }

                }
                console.log(idsEmpleadoarrays);
            })

            $("#id_enviar").on("click", function (e) {

                var dataModel = { idempleado: idsEmpleadoarrays }
                var urld = "@Url.Action("RecibirEmpleados", "EnvioMovimientos")";
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("RecibirEmpleados", "EnvioMovimientos")",
                    data: JSON.stringify(dataModel),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {

                        if (data == "OK") {
                            window.location.href = '@Url.Action("MovEnviados", "EnvioMovimientos")';
                        }
                        else {

                            $(location).attr('href', 'Index?mensaje=' + data);
                        }


                        console.log(data);
                    }
                })
            })

        });
    </script>
}


