@model TadaNomina.Models.ViewModels.Nominas.ModeloSaldos


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}


<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Nuevo Saldo</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Captura Saldos</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.IdEmpleado, Model.LEmpleados, "Elegir...", htmlAttributes: new { @class = "form-control", id = "emp" })
                                @Html.ValidationMessageFor(model => model.IdEmpleado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.IdTipo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.IdTipo, Model.LTipo, "Elegir...", htmlAttributes: new { @class = "form-control", id = "AplicaPor" })
                                @Html.ValidationMessageFor(model => model.IdTipo, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group" id="Conceptos" style="display: none">

                            @Html.LabelFor(model => model.IdConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.IdConcepto, Model.LConcepto, "Elegir...", htmlAttributes: new { @class = "form-control" , id = "IdConcepto" })
                                @Html.ValidationMessageFor(model => model.IdConcepto, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group" id="fechas" style="display: none">
                            @Html.LabelFor(model => model.FechaIncio, htmlAttributes: new { @class = "control-label col-md-2 Cantidad" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FechaIncio, new { htmlAttributes = new { @class = "calendar form-control " } })

                            </div>
                            @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "control-label col-md-2 Cantidad" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "calendar form-control " } })

                            </div>
                        </div>

                        <div class="form-group" id="Indefinido" style="display: none">
                            @Html.LabelFor(model => model.Indefinido, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.Indefinido)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Folio, htmlAttributes: new { @class = "control-label col-md-2 Cantidad", @style = "Display:none" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Folio, new { htmlAttributes = new { @class = "form-control Cantidad", @style = "Display:none" } })
                                @Html.ValidationMessageFor(model => model.Folio, "", new { @class = "text-danger Cantidad", @style = "Display:none" })
                            </div>
                        </div>

                        <div class="form-group" id="Saldos" style="display: none">
                            @Html.LabelFor(model => model.SaldoI, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.SaldoI, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SaldoI, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.SaldoA, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.SaldoA, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SaldoA, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group" id="Saldosdos" style="display: none">
                            @Html.LabelFor(model => model.MontoP, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MontoP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MontoP, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.NumeroP, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.NumeroP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NumeroP, "", new { @class = "text-danger" })
                            </div>
                        </div>




                        <div class="form-group" id="Monto" style="display: none">
                            @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" id="Observaciones" style="display: none">
                            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @if (Model.Mensaje != null)
                                {
                                    if (Model.validacion)
                                    {
                                        <div class="alert alert-info">
                                            @Model.Mensaje
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-danger">
                                            @Model.Mensaje
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        <div class="panel-footer" style="text-align:right">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">


                                    <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />

                                    @Html.ActionLink("Regresar", "Index", new { pIdPeriodoNomina = ViewBag.Periodo }, htmlAttributes: new { @class = "btn btn-info btn-sm _Back" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script src="~/js/Core/mensajes.js"></script>
    <script src="~/js/Core/default.js"></script>
    <script src="~/js/Core/Saldos.js"></script>
}

