@model TadaNomina.Models.ViewModels.Catalogos.ModelClientes

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Nuevo Cliente</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>


<div id="page-content">
    @*<div class="col-lg-8 col-lg-offset-2">*@
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Caputar Datos.</h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cliente, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Cliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="control-label col-md-2">Fecha Inicio Produccion</label>
                        <div class="col-md-4">
                            <input type="date" name="FechaInicioProduccion" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">PAC</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.IdPAC, Model.selectPAC, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    @if (Session["sTipoUsuario"] != null)
                    {
                        if (Session["sTipoUsuario"].ToString() == "System")
                        {
                            <div class="form-group">

                                <label class="control-label col-md-2">Grupos</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.IdGrupo, Model.LGrupos, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    }
                </div>
                    <br />
                    <div class="panel-footer">
                        <div class="form-group" style="text-align:right">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-sm _Load" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info btn-sm" })
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
@*</div>*@

