@model TadaNomina.Models.ViewModels.Catalogos.ModelConceptosFiniquito

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Configura conceptos para calculos del sistema.</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Caputar Datos.</h3>
            </div>
            <div class="panel-body">

                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Aquí se configuran los conceptos que el sistema puede calcular automaticamente.
                </div>
                
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IdCliente)

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoVacaciones, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoVacaciones, Model.lConceptoVacaciones, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoVacaciones, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoPV, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoPV, Model.lConceptoPV, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoPV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoAguinaldo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoAguinaldo, Model.lConceptoAguinaldo, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoAguinaldo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConcepto3M, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConcepto3M, Model.lConcepto3M, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConcepto3M, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConcepto20D, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConcepto20D, Model.lConcepto20D, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConcepto20D, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoPA, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoPA, Model.lConceptoPA, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoPA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoFonacot, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoFonacot, Model.lConceptoFonacot, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoFonacot, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoInfonavit, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoInfonavit, Model.lConceptoInfonavit, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoInfonavit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoPensionAlimenticia, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoPensionAlimenticia, Model.lConceptoPensionAlimenticia, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoPensionAlimenticia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoCuotaSindical, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoCuotaSindical, Model.lConceptoCuotaSindical, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoCuotaSindical, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoCompensacion, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoCompensacion, Model.lConceptoCuotaSindical, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoCompensacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoFaltas, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoFaltas, Model.lConceptoFaltas, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoFaltas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoArt93Fraclll, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoArt93Fraclll, Model.lConceptoArt93Fraclll, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoArt93Fraclll, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdConceptoSubAusentismo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdConceptoSubAusentismo, Model.lConceptoSubAusen, "Elegir...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdConceptoSubAusentismo, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-12">
                        @if (Model.Mensaje != null)
                        {
                            if (Model.validacion)
                            {
                                <div class="alert alert-info">
                                    @Model.Mensaje
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    @Model.Mensaje
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="form-group" style="text-align:right">

                        <button type="submit" class="btn btn-primary btn-sm _Aceptar" ><span class="fa fa-save"></span> Guardar Cambios</button>

                    </div>
                </div>
            </div>
                }

            </div>
        </div>
    </div>
</div>


