@model TadaNomina.Models.ViewModels.Facturacion.ConfiguraConceptosM
@{
    ViewBag.Title = "EditConceptoConfiguracion";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Editar Concepto Configuración</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">
                <strong>Captura Datos </strong>
            </h2>

        </div>

        <h3>@(ViewBag.Concepto != null ? ViewBag.Concepto.descripcion : "")</h3>

        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.HiddenFor(x => x.idCosteosConcepto)

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <br />
                    <h4>Elegir Tipo de Concepto</h4>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.tipoConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.tipoConcepto, Model.lTipoConcepto, "Elegir...", htmlAttributes: new { @class = "form-control", @id = "IdTipoNomina" })
                            @Html.ValidationMessageFor(model => model.tipoConcepto, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.concepto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.concepto, Model.Lconceptos, "Elegir...", htmlAttributes: new { @class = "form-control", @id = "IdTipoNomina" })
                            @Html.ValidationMessageFor(model => model.concepto, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <br />
                    <h4>Operaciones Internas</h4>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.operador, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.operador, Model.lOperador, "Elegir...", htmlAttributes: new { @class = "form-control", @id = "IdTipoNomina" })
                            @Html.ValidationMessageFor(model => model.operador, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.valor, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <br />
                    <h4>Operador general</h4>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.operadorGral, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.operadorGral, Model.loperadorGral, "Elegir...", htmlAttributes: new { @class = "form-control", @id = "IdTipoNomina" })
                            @Html.ValidationMessageFor(model => model.operadorGral, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <br /><br />
                    <div class="panel-footer">
                        <div class="form-group text-right">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary btn-sm" />
                                @Html.ActionLink("Regresar", "GetConceptosConfiguracion",
                                new
                                {
                                    idCosteosConcepto = ((TadaNomina.Models.ViewModels.Facturacion.ConfiguraConceptos)Session["conceptosConfiguracion"] != null ? ((TadaNomina.Models.ViewModels.Facturacion.ConfiguraConceptos)Session["conceptosConfiguracion"]).idCosteosConcepto : 0),
                                    idCosteo = ((TadaNomina.Models.ViewModels.Facturacion.CosteoConceptos)Session["costeoConceptos"] != null ? ((TadaNomina.Models.ViewModels.Facturacion.CosteoConceptos)Session["costeoConceptos"]).idCosteo : 0)
                                     }, new { @class = "btn btn-info btn-sm _Back" })

                            </div>
                        </div>
                    </div>
                    @if (ViewBag.Validacion != null)
                    {
                        if (ViewBag.Validacion == true)
                        {
                            <div class="alert alert-info">@ViewBag.Mensaje</div>
                        }
                        else
                        {
                            <div class="alert alert-danger">@ViewBag.Mensaje</div>
                        }
                    }

                </div>

            }
        </div>
    </div>
</div>


